<app-template-header></app-template-header>

<app-template-todo-form (ping)="create($event)"></app-template-todo-form>

<div class="list-view">
    <h3>Offen <span>( {{ $todos.length }} )</span> </h3>
    <div class="todo-elemente">
        <app-template-todo (ping)="update($event)" [toDo$]="toDo" *ngFor="let toDo of $todos"></app-template-todo>
    </div>
    <h3>Fertig <span>( {{ $todosdone.length }} )</span> </h3>
    <div class="done-elemente" >
        <app-template-todo (ping)="update($event)" [toDo$]="toDo" *ngFor="let toDo of $todosdone"></app-template-todo>
    </div>

</div>
